/* ==================================== MAIN ==================================== */
.home__bensin {
    width: 100%;
    height: auto;
    padding: 30px;
}

.bensin__product {
    padding: 20px;
    background: #fff;
}

.label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 0 10px 0 10px;
}

.errors ul li {
    list-style: none !important;
}

.bensin__select {
    background-color: #fff;
    border: none;
    border-radius: 15px !important;
    height: 50px;
    text-align-last: center;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: #000;
}

.bensin__control {
    background-color: #fff;
    border: none;
    border-radius: 15px !important;
    height: 50px;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
    color: #000;
}

.bensin__control:focus,
.bensin__select:focus {
    outline: none;
    box-shadow: none;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.liter {
    position: absolute;
    margin-top: -58px;
    right: 80px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: #000;
    z-index: 100;
}

.price {
    background-color: #F1F1F1;
    border-radius: 15px !important;
    height: 50px;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
    color: #000;
}

.price__box {
    display: flex;
    flex-direction: row;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.price__angka {
    position: absolute;
    right: 80px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: #000;
    z-index: 100;
}

@media screen and (max-width: 340px) {
    .price__text {
        display: none;
    }

    .price__box {
        display: flex;
        flex-direction:column;
        width: 100%
    }

    .price__angka {
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.btn__bensin {
    background: #FA7524;
    box-shadow: 0px 4px 12px 1px rgba(237, 90, 0, 0.54);
    border-radius: 13px;
    width: 261px;
    height: 63px;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    letter-spacing: 0.15em;
    color: #fff;
}

.bensin__btns {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 5rem;
}